// app global css in SCSS form
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input {
    outline: none;
  }
}

@layer utilities {
  .app-scrollbar {
    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-track {
    }

    &::-webkit-scrollbar-thumb {
      background: theme('colors.blue-hover');
      @apply tw-rounded-base;
    }
  }
}

@import './font-styles/stolzl-font.scss';
@import './base.scss';
