*:not(body, html) {
  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-track {
  }

  &::-webkit-scrollbar-thumb {
    background: theme('colors.blue-hover');
    @apply tw-rounded-base;
  }
}

body {
  @apply tw-font-stolzl tw-text-xs tw-text-white;
}

%h {
  line-height: 1.4;
}

h1, .h1 {
  @extend %h;
  @apply tw-text-xl;
}

h2, .h2 {
  @extend %h;
  @apply tw-text-lg;
}

h3, .h3 {
  @extend %h;
  @apply tw-text-md1;
}

h4, .h4 {
  @extend %h;
  @apply tw-text-md2;
}

.h5 {
  @extend %h;
  @apply tw-text-sm;
}

.h6 {
  @extend %h;
  @apply tw-text-base;
}

a, .app-link {
  @apply tw-text-secondary;
}
