.landing-page-y {
  padding-top: 0px;
}

.landing-h-center {
  @apply tw-flex tw-flex-col tw-justify-center;
}

.landing-h-between {
  @apply tw-flex tw-flex-col tw-justify-between;
}

.landing-eco-right {
  flex-basis: 130px;
  height: 350px;
  @apply tw-inline-flex tw-flex-wrap tw-flex-col tw-items-start;
  @include gutter(18px);
}

.landing-c-up {
  @include screen-xl {
    transform: translateY(-25px);
  }
}

.landing-h2 {
  letter-spacing: 0.2em;
  @apply tw-text-xs tw-text-secondary;

  &--space {
    top: 40px;
    @apply tw-absolute tw-left-0;
  }
}

.landing-icon-cover {
  width: 48px;
  height: 48px;
  line-height: 48px;
  @apply tw-text-center tw-bg-dark tw-bg-opacity-10 tw-rounded-full;

  &:hover {
    @apply tw-bg-opacity-30;
  }

  &--active {
    @apply tw-bg-opacity-30;
  }
}

.anim-bg {
  content: '';
  display: block;
  width: 2338px;
  height: 2338px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  z-index: -1;

  &__dark-blue {
    background: linear-gradient(98.99deg, #0A1E3E 0.72%, #213960 56.32%, #0A1E3E 101.43%);
  }

  &__blue {
    background: linear-gradient(149.13deg, #0A1E3E 0.09%, #045093 55.25%, #0A1E3E 100%);
  }

  &__orange {
    background: linear-gradient(150.99deg, #0A1E3E 0.09%, #EE5322 52.68%, #0A1E3E 95.36%);
  }

  &__purple {
    background: linear-gradient(149.13deg, #0A1E3E 0.09%, #9D1F60 55.25%, #0A1E3E 100%);
  }

  &__green {
    background: linear-gradient(149.13deg, #0A1E3E 0.09%, #04562C 55.25%, #0A1E3E 100%);
  }

  &__red {
    background: linear-gradient(149.13deg, #0A1E3E 0.09%, #9E1E26 55.25%, #0A1E3E 100%);
  }

  &__indigo {
    background: linear-gradient(149.13deg, #0A1E3E 0.09%, #3C26C9 55.25%, #0A1E3E 100%);
  }

  &__biruze {
    background: linear-gradient(149.13deg, #0A1E3E 0.09%, #0E5B74 55.25%, #0A1E3E 100%);
  }

  &__light-green {
    background: linear-gradient(149.13deg, #A0E09C 18.3%, #0CB65F 55.25%, #A0E09C 100%);
  }

  &__yellow {
    background: linear-gradient(149.13deg, #0A1E3E 0.09%, #F79226 55.25%, #0A1E3E 100%);
  }
}
