.landing-page-y {
  padding-top: 24px;
}

.anim-bg {
  &__orange, &__purple, &__green, &__red, &__blue, &__dark-blue {
      content: '';
      display: block;
      width: 2338px;
      height: 2338px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      border-radius: 50%;
      z-index: -1;
  }

  &__dark-blue {
    background: linear-gradient(98.99deg, #0A1E3E 0.72%, #213960 56.32%, #0A1E3E 101.43%);
  }

  &__blue {
    background: linear-gradient(149.13deg, #0A1E3E 0.09%, #045093 55.25%, #0A1E3E 100%);
  }

  &__orange {
    background: linear-gradient(150.99deg, #0A1E3E 0.09%, #EE5322 52.68%, #0A1E3E 95.36%);
  }

  &__purple {
    background: linear-gradient(149.13deg, #0A1E3E 0.09%, #9D1F60 55.25%, #0A1E3E 100%);
  }

  &__green {
    background: linear-gradient(149.13deg, #0A1E3E 0.09%, #04562C 55.25%, #0A1E3E 100%);
  }

  &__red {
    background: linear-gradient(149.13deg, #0A1E3E 0.09%, #9E1E26 55.25%, #0A1E3E 100%);
  }
}
