<div>
  <header>
    <div class="tw-container">
      <nav class="nav">
        <div class="nav__left">
          logo
          <span class="mob-n">Tokenomics</span>
        </div>
        <div class="nav__right">
          <div class="auth mob-n">
            <button>Authorization</button>
            <button>Registration</button>
            <div class="loval">
              <button>EN</button>
              <button>RU</button>
            </div>
            <div class="burger desk-n"></div>
          </div>
        </div>
      </nav>
      <div class="header-bg">
        <div class="header-bg__touch"></div>
        <div class="header-bg__wrapper">
          <div>
            <h1>ALGA</h1>
            <h2>Index Derivatives Platform</h2>
          </div>
          <div class="header-bg__img"></div>
        </div>
      </div>
    </div>
  </header>
  <section class="section about">
    <div class="tw-container">
      <div>
        <h2>About</h2>
        <div class="tw-mt-5">
          <p>
            ALGA is a brand new CeFi platform for the implementation of
            different investment strategies based on index derivatives.
            <br />
            The underlying cutting edge technology along with a huge background
            of the core team in trading makes ALGA the one-stop shop for
            investments into proven and efficient strategies facilitating entry
            to the crypto for everyone. These strategies based on index
            derivatives consisting of many assets selected in the most effective
            ratio allow to receive solid return on the allocated capital while
            minimizing risks.
            <br />
            The platform is designed by people for people with the only one goal
            - to ensure comfortable tracking of assets and transparent
            transactions in order to bring asset management experience to
            completely new level.
          </p>
        </div>
      </div>

      <div class="card-big">
        <img src="./img/plus.png" alt="plus" class="top-icon" />
        <div>
          <h2>Sign in</h2>
          <p class="tw-mt-5">
            For all questions, write to us and the operator will contact you as
            soon as possible
          </p>
        </div>
        <button class="button tw-mt-7.5">Create an account</button>
      </div>
    </div>
  </section>
  <section class="section index-directive">
    <div class="tw-container">
      <h2>Index Derivatives</h2>
      <!-- cards -->
      <div class="tw-mt-10">
        <!-- card -->
        <div class="card-gray">
          <div class="tw-flex tw-gap-3.5">
            <div class="circle">
              <img src="./img/index-icon_1.png" alt="" />
            </div>
            <h4>Golden Rain Index</h4>
          </div>
          <p class="tw-mt-2.5 tokens">BNB, ETH, ALG, BNB, ETH, ALG, ETH, ALG</p>
          <div class="tw-mt-5 tw-flex tw-justify-between">
            <div>
              <p class="tw-text-white">
                Profitability <br />
                for 6 months
              </p>
              <div class="tw-flex tw-gap-x-2.5">
                <img src="./icons/up.svg" alt="" />
                <h4>12,75%</h4>
              </div>
            </div>
            <div>
              <img src="./icons/diagram.svg" alt="" />

              <button class="tw-mt-2 tw-flex tw-gap-1.5 tw-items-center">
                <span class="buy">Buy</span>
                <img src="./icons/button-arrow.svg" alt="" />
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section roadmap">
    <div class="tw-container">
      <h2>Roadmap</h2>
      <div class="tw-mt-10">sliders</div>
    </div>
  </section>
  <section class="section team">
    <div class="tw-container">
      <h2>Team</h2>
      <div>
        <div>
          photo
          <h4>Ural Karazbaev</h4>
          <p>
            Founder of ALGA Ecosystem, entrepreneur, founder of Museum of
            Finance investment club, co-founder of TC Gorod, Forestprom, D.S.R.
            Ufa
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section backers-partner">
    <div class="tw-container">
      <h2>Backers & Partners</h2>
      <div class="tw-mt-10">logo</div>
    </div>
  </section>
  <section class="section faq">
    <div class="tw-container">
      <h2>FAQ</h2>
      <div class="accardion tw-mt-10">
        <div class="accardion-item">
          <div class="accardion-item__card">
            <h3>What is WalletConnect used for?</h3>
            <button>arrow</button>
          </div>
          <p class="accardion-item__text tw-mt-5">
            WalletConnect forms connections and transfers funds between
            decentralized wallets and applications. Many people misunderstand
            WalletConnect to be some wallet. However, that's not true. Some of
            the most common use cases of WalletConnect include transferring
            funds to decentralized betting platforms, online casinos, DApps
            based services, etc.
            <br />
            Hence, whenever there is an element of transaction involved,
            WalletConnect comes into the picture. The significance of
            WalletConnect is the encrypted connection that it offers. Naturally,
            security is the topmost priority when it comes to online
            transactions.
          </p>
        </div>
      </div>
      <div class="card-big">
        <img src="./img/telegram-round.png" alt="plus" class="top-icon" />
        <div>
          <h2>Any questions?</h2>
          <p class="tw-mt-5">
            For all questions, write to us and the operator will contact you as
            soon as possible
          </p>
        </div>
        <button class="button tw-mt-7.5">Contact us</button>
      </div>
    </div>
  </section>
  <footer></footer>
</div>
